   div {
       color: purple;
       font-family: sans-serif;
       color: blue;
       padding-bottom: 1em;
   }

   li{
    color: purple
   }


   .highlight{
    color: green;
   }


/*    
   strong {
       color: red !important;
   } */