body {
  font-family: "Averia Serif Libre", serif;
}

.excerpt {
  margin: 1.25em auto;
  padding: 1.25em;
  border: 0.0625em solid black;
  width: 80%;
  max-width: 30em;
  box-sizing: border-box;
}

.title {
  font-size: 1.25em; /* target size: 20px */
  margin: 0 0 0.5em; /* target size: 10px */
}

.quote {
  margin: 0;
}

.quote-text {
	font-size: 1.5em; /* target size: 24px */
	margin: 0.41667em 0; /* target size: 24px */
}

.large {
	font-size: 1.333em; /* target size: 32px */
}

.small {
	font-size: 0.8333em; /* target size: 20px */
}

.citation {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
  color: #555;
  font-size: 87.5%; /* target size: 14px */
}
